.container {
    border: 2px solid transparent;
    /* border: 2px solid #e5e5e5; */
    border-radius: 12px;
    display: flex;
    gap: 16px;
    padding: 16px 20px;
    align-items: center;
    justify-items: stretch;
    text-decoration: none;
    cursor: pointer;
    width: 200px;
}

.container:hover {
    border: 2px solid #84d8ff;
}

.container-active {
    border-radius: 12px;
    display: flex;
    gap: 16px;
    padding: 16px 20px;
    align-items: center;
    justify-items: stretch;
    text-decoration: none;
    cursor: pointer;
    width: 200px;
    background-color: #ddf4ff;
    border: 2px solid #84d8ff;
    -webkit-text-fill-color: #1cb0f6;
}

.text {
    flex: 1;
    margin: 0;
    font-weight: 600;
    color: #4b4b4b;
    font-size: 18px;

}

.img-size {
    max-width: 42px;
    max-height: 42px;
    width: 40%;
    object-fit: fill;
    aspect-ratio: 1 / 1;
}

.img-size-profile {
    border-radius: 50%;
    max-width: 42px;
    max-height: 42px;
    width: 40%;
    object-fit: fill;
    aspect-ratio: 1 / 1;
}