.container {
    border: 2px solid #e5e5e5;
    border-radius: 1rem;
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
}

.container-pencapaian {
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
}

.container-image {
    object-fit: scale-down;
    object-position: center;
    aspect-ratio: 1 / 1;
    width: 80px;
    height: 80px;
}

.container-detail {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.container-detail-title {
    font-size: 24px;
    font-weight: 700;
    color: #3c3c3c;
}

.container-detail-description {
    font-size: 0.8rem;
    color: #afafaf;
}

.progress-style {
    height: 14px;
    border-radius: 8px;
    background: #ffdc02;
}