.container {
    display: flex;
    padding: 18px 24px;
    align-items: flex-start;
    border-bottom: 2px solid #e5e5e5 !important;
}

.container:last-child {
    border-bottom: 2px solid transparent !important;
}

.container-link {
    display: flex;
    flex: 1 1 auto;
    text-decoration: none;
    color: #afafaf;
}

.container-profile-imgbox {
    flex: 0 0 auto;
    height: 70px;
}

.container-profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-style: none;
}

.container-profile-databox {
    margin: 0 12px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.container-profile-username {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    --typography-spacing-vertical: 0 !important;
    line-height: 30px;
    color: #4b4b4b;
}

.ellipsis {
    width: 95%
}

.container-profile-xp {
    font-size: 18px;
    margin: 0;
    line-height: 20px;
}