.container {
    display: flex;
    border: 2px solid #e5e5e5;
    border-radius: 1rem;
    flex-direction: column;
    margin-bottom: 60px;
}

.follow-title-ul {
    display: flex;
    width: 100%;
    /* border-bottom: 2px solid gray; */
    padding: 0px;
    justify-content: center;
}

.follow-title-list {
    display: flex;
    padding: 12px 0 12px 0;
    cursor: pointer;
    list-style: none;
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #999999;
}

.follow-title-list:hover{
    color: #1CAff6 ;
    border-bottom: 3px solid #1cAFF6;
}

.allow-underline {
    color: #1CAff6 ;
    border-bottom: 3px solid #1cAFF6;
}

.no-underline {
    border-bottom: 3px solid #e5e5e5;
}

.follow-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.follow-viewall {
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: space-between;
    padding: 12px;
    text-decoration: none;
    color: #3c3c3c;
}

