.lower-container {
    display: flex;
    gap: 60px;
}

.lower-container-left {
    display: flex;
    flex-flow: column;
    flex: 2;
}

.lower-container-content {
    display: flex;
    flex-direction: column;
}

.lower-container-right {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: stretch;

}

.teman-text-positioning {
    margin: 20px 0 20px 0;
    color: #3c3c3c;
    font-size: 30px;
}

.statistik-text-positioning {
    display: flex;
    justify-content: space-between;
}

.statistik-text {
    color: #3c3c3c;
    margin: 20px 0 20px 0;
    font-size: 30px;
}

.statistik-text-pencapaian {
    color: #3c3c3c;
    margin: 40px 0 20px 0;
    font-size: 30px;
}

.statistik-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.pencapaian-wrapper {
    justify-content: space-between;
}

.pencapaian-text {
    color: #3c3c3c;
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 1;
}

.pencapaian-ul {
    padding: 0;
    border: 2px solid #e5e5e5;
    border-radius: 16px;
}

.pencapaian-viewall {
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: space-between;
    padding: 16px;
    text-decoration: none;
    color: #3c3c3c;
}