.lower-container {
    display: flex;
    gap: 60px;
}

.lower-container-left {
    display: flex;
    flex-flow: column;
    flex: 2;
}

.lower-container-content {
    display: flex;
    flex-direction: column;
}

.lower-container-right {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    gap: 1rem;
}

.teman-text-positioning {
    margin: 20px 0 0 0;
    font-size: 30px;
}

.statistik-text-positioning {
    display: flex;
    justify-content: space-between;
}

.statistik-text {
    margin: 20px 0 20px 0;
    font-size: 30px;
}

.statistik-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns:1fr 1fr;
} 

.pencapaian-wrapper {
    justify-content: space-between;
}

.pencapaian-text {
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 1;
}

.pencapaian-ul {
    padding: 0;
    border: 2px solid gray;
    border-radius: 16px;
}

.pencapaian-viewall {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: space-between;
    padding: 16px
}