.container {
    display: flex;
    border: 2px solid #e5e5e5;
    border-radius: 1rem;
    padding: 1rem;
    gap: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.container-image {
    aspect-ratio: 1 / 1;
    object-fit: scale-down;
    min-width: 1rem;
    width: 15%;
}

.container-texts {
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: space-between;
}

.container-texts-highlight {
    color: #3c3c3c;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}

.container-texts-description {
    font-weight: 600;
    margin: 0;
    color: #afafaf;
}

.container-redirect {width: 10%;
    object-fit: cover;
    aspect-ratio: 1/1;
}