.chapter {
    cursor: pointer;
    aspect-ratio: 1 /1 ;
    width: 4rem;
    border-radius: 100%;
    border: none;
    outline: none;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chapter-disable-click {
    cursor: default;
}

.chapter-img {
    width: 50%;
    object-fit: scale-down;
    object-position: center;
}

.chapter-grid {
    justify-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 40px ;
}

@media (max-width: 1024px) {
    .chapter-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.unit-button-detail {
    flex: 7;
    display: flex;
    flex-flow: column;
    gap: 0.75rem;
}

.unit-button-title {
    font-weight: 600;
    margin: 0;
    color: white;
    font-size: 1.25rem;
    padding-left: 0.25rem;
}

.unit-button-desc {
    font-weight: 600;
    margin: 0;
    color: white;
    font-size: 1rem;
    padding-left:0.25rem;
}

.unit-button {
    flex: 2;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid white;
    padding: 1% 2.5%;
    border-radius: 0.75rem;
    font-size: 0.80rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.unit-button-img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.basecontent {
    gap: 2rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.unitbox {
    gap: 1rem;
    justify-content: space-between;
    display: flex;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    background-color: gray;
}