.container-profile {
    display: flex;
}

.container-settings {
    gap: 3rem;
    flex: 1;
    padding: 30px 80px 30px 80px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    display: flex;
    overflow-y: scroll;
}

.container-settings::-webkit-scrollbar {
    display: none;
}

.container-left-buttons {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    padding: 1rem;
}

.container-right {
    flex: 1;
}

.akun-text-style {
    --typography-spacing-vertical: 30px;
}

.container-form {
    display: flex;
}

.simpan-button-style {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: white;
    padding: 0.8rem 1rem;
    background-color: #1Cb0f6;
    text-decoration: none;
    margin: 0;  
    text-transform: uppercase;
    border: none;
}

.simpan-button-style:hover {
    background-color: #32c6f7;
}

.simpan-button-text-style {
    font-weight: 600;
    font-size: 20px;
}