.container-profile {
    display: flex;
}

.container-settings {
    gap: 3rem;
    flex: 1;
    padding: 30px 80px 30px 80px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    display: flex;
    overflow-y: scroll;
}

.container-settings::-webkit-scrollbar {
    display: none;
}

.container-left-buttons {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    padding: 1rem;
}

.container-right {
    flex: 1;
}

.akun-text-style {
    --typography-spacing-vertical: 30px;
    color: #3c3c3c;
    margin-bottom: 20px;
}

.container-form {
    display: flex;
}

.simpan-button-style-ready {
    cursor: pointer;
    border-radius: 16px;
    color: white;
    padding: 15px 20px;
    background-color: #1Cb0f6;
    text-decoration: none;
    margin: 0;
    text-transform: uppercase;
    border: none;
    align-self: flex-end;
}

.simpan-button-style-grey {
    cursor: default;
    border-radius: 16px;
    color: #afafaf;
    padding: 15px 20px;
    background-color: #e5e5e5;
    text-decoration: none;
    margin: 0;
    text-transform: uppercase;
    border: none;
    align-self: flex-end;
}

.simpan-button-style-ready:hover {
    background-color: #32c6f7;
}

.simpan-button-text-style {
    font-weight: 600;
    font-size: 16px;
}

.container-setting-navbar {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}