.hraturkhusus {
  width: 50%;
  margin-left: 220px;
}
.div51 {
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
}
.reset {
  color: #de513c;
}
.hraturkhusus2 {
  width: 70%;
  margin-left: 70px;
  margin-top: 100px;
}
.div52 {
  display: flex;
  margin-top: 30px;
}
.div53 {
  display: flex;
  margin-left: 30px;
}
