.container {
    border: 2px solid transparent;
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
    padding: 1rem 1rem;
    align-items: center;
}

.container:hover {
    background-color: rgba(183, 216, 247, 0.5);
    border: 2px solid #369DD7;
    
}

.text {
    margin: 0;
    font-weight: bold;
}

