.background {
    background-color: #043f75;
    min-height: 100vh;
}

.logonavbar {
    margin-top: 50px;
    margin-left: 75px;
}

.div1hp {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logohome {
    object-fit: scale-down;
    width: 27.5%;
    margin-top: 80px;
}

.h2 {
    text-align: center;
    color: white;
}

.buttonlogin {
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 60%;
    margin-left: 150px;
    margin-top: 20px;
    padding: 12px;
    background-color: #1cb0f6;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 18px;
}
.buttonlogin:hover {
    background-color: #32c6f7;
}

.buttonregister {
    border: 2px solid #afafaf;
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-align: center;
    background-color: #043f75;
    width: 60%;
    margin-left: 150px;
    margin-top: 20px;
    padding: 12px;
    color: #afafaf;
    border-radius: 20px;
    font-size: 18px;
}

.buttonregister:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
}