
.div43 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .imgkonten3 {
    margin-top: 20px;
  }
  .imgknten3 {
    margin-top: 20px;
    margin-left: 20px;
  }
  .div42 {
    display: flex;
    justify-content: center;
    margin-top: 41px;
    gap: 10px;
  }
  .div44 {
    display: flex;
    justify-content: center;
    margin-top: -85px;
    margin-bottom: 26px;
    gap: 10px;
  }
  .buttonkonten3 {
    padding: 8px;
    border-color: #e5e5e5;
    background-color: white;
    border-radius: 8px;
    width: 7%;
    cursor: pointer;
    color: black;
  }
  
  .btnkonten3 {
    padding: 8px;
    border-color: #e5e5e5;
    background-color: white;
    border-radius: 8px;
    width: 7%;
    margin-left: 20px;
    color: black;
  }
  .div45 {
    border-color: #828282;
    padding: 50px 50px;
  }
  .div46 {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }