.button {
    --primary: #043F75;
}

.main {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 28%;
    --primary: #3689D7;
    margin-bottom: 0px;
}

.input {
    --border-radius: 0.75rem;
    width: 90%;
}

.inputsubmit {
    --border-radius: 0.75rem;
    width: 90%;
    font-weight: bold !important;
}

.lowertext {
    
    text-align: center;
    width: 28% ;
}

.daftar {
    margin: 1rem;
    width: fit-content;
    text-align: center;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: #3689D7;
    border: 1px solid #7D7D7D;
    border-radius: 1rem;
    font-weight: bold;
}

.h1 {
    margin-bottom: 30px
}