.button {
    --primary: #043F75;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form {
    width: 28%;
    --primary: #1cb0f6;
    margin-bottom: 0px;
}

.input {
    background-color: #f7f7f7;
    border-radius: 16px;
    width: 100%;
    border: 2px solid #e5e5e5;
    margin-bottom: 12px !important;
}

.inputsubmit {
    margin-top: 12px;
    margin-bottom: 24px !important;
    border-radius: 20px !important;
    width: 100%;
    font-weight: bold !important;
}

.inputsubmit:hover {
    
    background-color: #32c6f7;
    border: none;
}

.lowertext {
    
    text-align: center;
    width: 28% ;
}

.daftar {
    margin: 30px;
    width: fit-content;
    text-align: center;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: #1cb0f6;
    border: 2px solid #e5e5e5;
    border-radius: 1rem;
    font-weight: bold;
    align-self: flex-end;
}

.daftar:hover{
    background-color: #f7f7f7;
}

.h1 {
    margin-bottom: 30px;
    color: #3c3c3c;
}