.hrtargetharian {
  width: 80%;
  margin-left: 0px;
}
.checkbox {
  margin-left: 18px;
  width: 20px;
}
.div56 {
  display: flex;
  font-weight: bold;
}
.labelnotifikasi1 {
  margin-top: 16px;
  margin-left: 10px;
  font-weight: bold;
}
.div57 {
  margin-left: 177px;
}
.checkbox2 {
  height: 19px;
  width: 30px;
}
.labelnotifikasi2 {
  margin-top: 12px;
  margin-left: 5px;
  font-weight: bold;
}
.div58 {
  margin-left: 177px;
  margin-top: 15px;
}
