.container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: column;
}

.container-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-loading::before {
    padding: 2.5%;
    border-width: 10px!important;
    /* border-right: none !important; */
    border-radius: 100%!important;
    aspect-ratio: 1/1;
    width: 5%!important;
    height: 5%!important;
    align-self: center;
}


