.upper-container {
    display: flex;
    padding: 1rem;
}

.upper-container-left {
    aspect-ratio: 1/1;
    align-self: stretch;
    display: inline-block;
    position: relative;
        
    
}

.upper-container-left-img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.upper-container-center {
    flex: 1;

}

.upper-container-secondary-text {
    font-weight: 600;
    --typography-spacing-vertical: 0!important;
    font-size: 1.25rem;
    color: #BCBCBC;
}

.upper-container-primary-text {
    font-weight: 600;
    --typography-spacing-vertical: 0!important;
    font-size: 2rem;
    color: black;
}

.upper-container-right {
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 1.25rem;
    color: white;
    padding: 0.75rem 1.25rem;
    background-color: #6BB7FE;
}