.container-profile {
    display: flex;
    height: 100%;
}

.container-left-buttons {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    padding: 1rem;
}

.container-right {
    flex: 1;
    overflow-y: scroll;
    padding: 30px;
}

.container-right::-webkit-scrollbar{
    display: none;
}

.left-button-text {
    text-transform: uppercase;
}