.container-profile {
    display: flex;
    height: 100%;
}

.container-left-buttons {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    padding: 1rem;
}

.container-right {
    flex: 1;
    overflow-y: scroll;
   padding: 60px 80px
}

.container-right::-webkit-scrollbar{
    display: none;
}

.left-button-text {
    text-transform: uppercase;
}

.container-loading {
    padding: 25%;
}

.container-loading::before {
    padding: 10%;
    border-width: 10px!important;
    /* border-right: none !important; */
    border-radius: 100%!important;
    aspect-ratio: 1/1;
    width: 10%!important;
    height: 10%!important;
    align-self: center;
}