.main {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.masuk {
    margin: 1rem;
    width: fit-content;
    text-align: center;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: #3689D7;
    border: 1px solid #7D7D7D;
    border-radius: 1rem;
    font-weight: bold;
}

.h1 {
    margin-bottom: 30px
}

.form {
    width: 28%;
    --primary: #3689D7;
    margin-bottom: 0px;
}

.input {
    background-color: #f7f7f7;
    border-radius: 16px;
    width: 100%;
    border: 2px solid #e5e5e5;
    margin-bottom: 12px !important;
}

.inputsubmit {
    margin-top: 12px !important;
    margin-bottom: 20px !important;
    --border-radius: 20px;
    width: 100%;
    font-weight: bold !important;

}

.lowertext {
    
    text-align: center;
    width: 28% ;
}