.container-content {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.container-content-start {
    width: 100%;
    padding: 0 25%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}


.reset-margin {
    margin-bottom: 0;
}

.container-content-one-title-text {
    margin: 0;
    text-align: start;
    width: 100%;
    text-align: start;
    margin-bottom: 2rem;
}


.container-content-one-question-header {
    width: 70%;
    margin: 1rem auto;
}

/* .container-content-one-header-description {
    width: 100%;
    text-align: end;
    margin: 1rem;
} */

.container-content-one-header-question {
    padding: 2rem;
    border-radius: 0.4rem;
    text-align: end;
    margin: 0;
    width: 100%;
    border: 1px dashed black;
}

.container-content-one-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    height: 20%;
}

.container-content-one-container:first-of-type {
    justify-content: start;
    flex-wrap: nowrap;
}


.container-content-one-answer {
    box-sizing: border-box;
    white-space: nowrap;
    width: fit-content;
    margin: 0;
    padding: 0.5rem;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    bottom: 4px;
    border-bottom: 4px solid hsl(195, 85%, 24%);
}

.container-content-one-answer:active {
    bottom: 0;
    right: 0;
    border-bottom: none;
}

.container-content-one-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 40%;
}

.container-content-one-content-guide {
    width: 100%;
    text-align: start;
    margin: 1rem;
}

.container-content-one-line {
    border: 2px solid #8f8f8f;
    border-radius: 100px;   
}

/* .container-content-one-text {
    margin: 2rem 0;
    font-size: 1.5rem;
} */


@media (max-width: 1024px) {
    .container-content-start {
        padding: 0 20%;
    }
}

@media (max-width: 776px) {
    .container-content-start {
        padding: 0 10%;
    }
}

@media (max-width: 512px) {
    .container-content-start {
        padding: 0 5%;
    }
}
