.container-content {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.container-content-start {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.reset-margin {
    margin-bottom: 0;
}

