.container {
    display: flex;
    height: 20%;
    width: 100%;
    border-top: 2px solid #E5E5E5;
}

.container-error {
    background-color: #FFDFE0;
}

.start {
    padding: 0 5%;
    flex-flow: row-reverse;
    align-items: center;
}

/* buttons */
.start-button {
    width: max(10%, 270px);
    outline: none;
    border: none;
    box-shadow: 2px black;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 2rem;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    background-color: #61E002;
    margin-bottom: 0;
}