.container-progress-bar {
    display: flex;
    width: 70%;
    align-items: center;
}

.progress-bar-style {
    flex: 1;
    margin-bottom: 0;
}

.progress-bar-close-button {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 10px;
}