.container-progress-bar {
    display: flex;
    width: 100%;
    flex: 0 1 3%!important;
    align-items: center;
    height: 10%;
    padding: 0 20%;
}

.progress-bar-style {
    flex: 1;
    margin-bottom: 0;
    transition: all ease 100ms;
}

.progress-bar-close-button {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 10px;
}

.progress-bar-style-yellow {
    --progress-color: orange;
    color: orange;
    accent-color: orange;
}